# -*- coding: utf-8 -*-

DEBUG = False

MYSQL = {
    'HOST': '127.0.0.1',
    'PORT': 3306,
    'TABLE': '',
    'USER': '',
    'PASSWORD': '',
}

BLOG_TITLE = ""              # display as header of your site
GITHUB_LINK = ""             # your github link

DOMAIN = 'YOUR DOMAIN NAME'  # this used for rss links

STATIC_FILE_VERSION = 1      # when you change static files, 
                             # change this value to force client get the new files

TIMEZONE = 'Asia/Shanghai'   # change this as your timezone
