# -*- coding: utf-8 -*-

DEBUG = False

MYSQL = {
    'HOST': '127.0.0.1',
    'PORT': 3306,
    'TABLE': '',
    'USER': '',
    'PASSWORD': '',
}

BLOG_TITLE = ""
GITHUB_LINK = ""

DOMAIN = YOUR DOMAIN NAME



# Static files, (css, js, image, etc.)
# If your changed static file, then change the value
# due to static file are cached by client browser
STATIC_FILE_VERSION = 1

TIMEZONE = 'Asia/Shanghai'
