<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <link href="/static/css/foghorn.css?ver={{ ver }}" type="text/css" rel="stylesheet" />
        <link href="/static/css/style.css?ver={{ ver }}" type="text/css" rel="stylesheet" />
        <link href="/static/css/pygments.css?ver={{ ver }}" type="text/css" rel="stylesheet" />
        <script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="/static/js/paper.js" type="text/javascript"></script>
        
        {% block addition_css %}
        {% endblock %}
        {% block addition_js %}
        {% endblock %}
        
    </head>
    
    <body>
        <div id="main">
            {% include "header.html" %}
            
            {% block content %}
            {% endblock %}
            
        </div>
        {% include "footer.html" %}
    </body>
</html>