{% extends "base.html" %}

{% block content %}

    <div id="post">
        {% if post %}
            <div id="post-title">
                <h1>{{ post.title }}</h1>
            </div>
            
            <div id="post-info">
                <span>Posted At :</span>
                <span class="value">{{ post.create_at|format_date }}</span>
                <span>|</span>
                <span>Views :</span>
                <span class="value">{{ post.view_count }}</span>
                <span>|</span>
                <span>Tags :</span>
                <span class="value">
                    {% for t in post.tags %}
                        <a href="/tag/{{ t.name }}">{{ t.name }}</a>
                    {% endfor %}
                </span>
            </div>
            
            <div id="post-content">
                {{ post.content }}
            </div>
        {% endif %}
    </div>
    
    <div id="comment">
        
        
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'openshift'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
    </div>

{% endblock %}